<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shih.icedms.mapper.FileHistoryMapper">

    <resultMap id="BaseResultMap" type="com.shih.icedms.entity.FileHistory">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="matterId" column="matter_id" jdbcType="VARCHAR"/>
            <result property="docKey" column="doc_key" jdbcType="VARCHAR"/>
            <result property="created" column="created" jdbcType="TIMESTAMP"/>
            <result property="userId" column="user_id" jdbcType="VARCHAR"/>
            <result property="version" column="version" jdbcType="INTEGER"/>
            <result property="serverVersion" column="server_version" jdbcType="VARCHAR"/>
            <result property="changesObjectName" column="changes_object_name" jdbcType="VARCHAR"/>
        <result property="objectName" column="object_name" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,matter_id,doc_key,
        created,user_id,version,
        server_version,changes_object_name,object_name
    </sql>
</mapper>
