<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shih.icedms.mapper.FileChangesMapper">

    <resultMap id="BaseResultMap" type="com.shih.icedms.entity.FileChanges">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="fileHistoryId" column="file_history_id" jdbcType="INTEGER"/>
            <result property="created" column="created" jdbcType="TIMESTAMP"/>
            <result property="userId" column="user_id" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,file_history_id,created,
        user_id
    </sql>
</mapper>
