<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shih.icecms.mapper.MatterMapper">

    <resultMap id="BaseResultMap" type="com.shih.icecms.entity.Matter">
            <id property="id" column="id" jdbcType="VARCHAR"/>
            <result property="parentId" column="parent_id" jdbcType="VARCHAR"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="type" column="type" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="BIGINT"/>
            <result property="modifiedTime" column="modified_time" jdbcType="BIGINT"/>
            <result property="creator" column="creator" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,parent_id,name,
        type,create_time,modified_time,
        creator,status
    </sql>
<!--    TODO resultType-->
    <select id="getMatterList" resultType="com.shih.icecms.entity.Matter">
        -- fullAction creator权限大小
        SELECT m.*, CASE WHEN m.creator='test' THEN #{fullAction} ELSE mp.action END AS action
        FROM matter m
            left JOIN matter_permissions mp ON m.id = mp.matter_id
            LEFT JOIN user_roles ur ON mp.role_id = ur.role_id AND ur.user_id = #{userId} AND mp.role_type = 0
        WHERE
            -- user权限
            (mp.role_id = #{userId} AND mp.role_type = 1 )
            -- role权限
           OR (mp.role_type = 0 AND ur.user_id = #{userId} )
            -- creator权限
           OR m.creator=#{userId};
    </select>
</mapper>
