<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shih.icedms.mapper.MatterMapper">

    <resultMap id="BaseResultMap" type="com.shih.icedms.entity.Matter">
            <id property="id" column="id" jdbcType="VARCHAR"/>
            <result property="parentId" column="parent_id" jdbcType="VARCHAR"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="type" column="type" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="BIGINT"/>
            <result property="modifiedTime" column="modified_time" jdbcType="BIGINT"/>
            <result property="creator" column="creator" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
            <result property="size" column="size" jdbcType="BIGINT"/>
            <result property="extendSuper" column="extend_super" jdbcType="BOOLEAN"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,parent_id,name,
        type,create_time,modified_time,
        creator,status,size,extendSuper
    </sql>

    <select id="listOfDtoWithoutAction" resultType="com.shih.icedms.dto.MatterDTO">
        SELECT m.id,m.parent_id,m.name,m.type,m.create_time,m.modified_time,m.creator,m.status,m.size,
        u.actual_name as creator_name,m.extend_super
        FROM matter m
        LEFT JOIN `user` u on u.id=m.creator

    </select>

</mapper>
