<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shih.icedms.mapper.SystemEnumMapper">

    <resultMap id="BaseResultMap" type="com.shih.icedms.entity.SystemEnum">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="objectName" column="object_name" jdbcType="VARCHAR"/>
            <result property="key" column="key" jdbcType="INTEGER"/>
            <result property="value" column="value" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,object_name,key,
        value
    </sql>
</mapper>
